<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script data-ad-client="ca-pub-3834631396218789" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <meta name="keywords" content="IELTS, writing, word count, word counter, IELTS WORD COUNTER">
    <title>IELTS Writing Word Counter</title>
  <center><strong><h1>+IELTS WRITING WORD COUNTER</h1></strong></center>
  </head>
  <body>
<hr><br>

<div align = "center">
     </form>
<a href="Task_1"><h2>Task 1</h2></a>
<br>
<a href="Task_2"><h2>Task 2</h2></a>
</div>
  </body>

</html>
